# Database MongoDB
DATABASE_URL=il_tuo_database_url

# JWT (obbligatorio per auth)
JWT_SECRET=il_tuo_jwt_secret_key
JWT_EXPIRES_IN=24 # durata in ore per cui il token JWT è valido

# Server
PORT=3001
API_PREFIX=api/v1
NODE_ENV=development